.splitter-wrapper > div{
    border:0px dashed green;
}
.splitter-panel{

}
.spliiter-panel-close{
    
}
.splitter{
    min-width: 10px;
    min-height: 10px;
    background: #313131;
    border: 0 !important;
}
